<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Games</h1>

<header th:replace="fragments :: header"></header>

<p th:unless="${games} and ${games.size()}">No games!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Class</th>
        </tr>
    </thead>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.name}"></td>
        <td th:text="${game.description}"></td>
        <td th:text="${game.type.displayName}"></td>
    </tr>
</table>
</body>
</html>